version: "3.4"

volumes:
  gomod:
  out:
    driver_opts:
      type: tmpfs
      device: tmpfs

services:
  dev:
    volumes:
      - ".:/src"
      - "out:/out"
      - "gomod:/go/pkg/mod"
    security_opt:
      - no-new-privileges:true
    environment:
      - OUTPUT_DIR="/out"
      - "CHALLENGE_BYPASS_DATABASE_URL=postgres://btokens:password@grant-postgres/btokens?sslmode=disable"
      - "VAULT_ADDR=http://vault:8200"
      - TEST_TAGS
      - VAULT_TOKEN
      - TEST_RUN
      - TEST_PKG
      - TEST_DIRS
  vault:
    container_name: grant-vault
    image: vault:0.11.6
    networks:
      - grant
  redislog:
    container_name: grant-redis-log
    image: redis:7.4
    networks:
      - grant
    command: ["redis-cli", "-h", "grant-redis", "MONITOR"]
    profiles:
      - redis-log
    depends_on:
      redis:
        condition: service_healthy
  migrate:
    image: migrate/migrate:v4.19.0@sha256:cc4ad8e19d66791e3689405d9a028ce6e9614f32032db14acda1469f7201d6e4
    profiles:
      - tools
    volumes:
      - ./migrations:/migrations
    networks:
      - grant
    security_opt:
      - no-new-privileges=true
    read_only: true
