version: "3.4"

networks:
  grant:
    driver: bridge

services:
  web:
    container_name: grant-web
    image: grant-web-builder
    build:
      context: .
      target: builder
    ports:
      - "3333:3333"
    environment:
      - "DATABASE_URL=postgres://grants:password@postgres/grants?sslmode=disable"
      - "LEDGER_SERVER=https://ledger-staging.mercury.basicattentiontoken.org"
      - "ADS_SERVER=https://ads-serve.bravesoftware.com"
      - "REDIS_URL=redis://redis:6379"
      - "DATABASE_MIGRATIONS_URL=file:///src/migrations"
      - BAT_SETTLEMENT_ADDRESS
      - CHALLENGE_BYPASS_SERVER=http://challenge-bypass:2416
      - CHALLENGE_BYPASS_TOKEN
      - GRANT_SIGNATOR_PUBLIC_KEY
      - GRANT_WALLET_CARD_ID
      - GRANT_WALLET_PRIVATE_KEY
      - GRANT_WALLET_PUBLIC_KEY
      - TOKEN_LIST
      - UPHOLD_ACCESS_TOKEN
    depends_on:
      - redis
      - postgres
      - challenge-bypass
    networks:
      - grant
  redis:
    container_name: grant-redis
    image: redis:latest
    networks:
      - grant
  postgres:
    container_name: grant-postgres
    image: postgres:10.4
    environment:
      - "POSTGRES_USER=grants"
      - "POSTGRES_PASSWORD=password"
    networks:
      - grant
  challenge-bypass-postgres:
    container_name: challenge-bypass-postgres
    image: postgres:10.4
    environment:
      - "POSTGRES_USER=btokens"
      - "POSTGRES_PASSWORD=password"
    networks:
      - grant
  challenge-bypass:
    container_name: challenge-bypass
    image: brave/challenge-bypass
    restart: always
    ports:
      - "2416:2416"
    environment:
      - "SENTRY_DSN"
      - "DATABASE_URL=postgres://btokens:password@challenge-bypass-postgres/btokens?sslmode=disable"
      - "DATABASE_MIGRATIONS_URL=file:///src/migrations"
    depends_on:
      - challenge-bypass-postgres
    networks:
      - grant
