version: "3.4"

networks:
  grant:
    driver: bridge

services:
  web:
    container_name: grant-web
    image: grant-web-builder
    build:
      context: .
      target: builder
    ports:
      - "3333:3333"
    environment:
      - BAT_SETTLEMENT_ADDRESS
      - CHALLENGE_BYPASS_SERVER=http://challenge-bypass:2416
      - CHALLENGE_BYPASS_TOKEN
      - "DATABASE_MIGRATIONS_URL=file:///src/migrations"
      - "DATABASE_URL=postgres://grants:password@postgres/grants?sslmode=disable"
      - GRANT_SIGNATOR_PUBLIC_KEY
      - GRANT_WALLET_CARD_ID
      - GRANT_WALLET_PRIVATE_KEY
      - GRANT_WALLET_PUBLIC_KEY
      - "LEDGER_SERVER=https://ledger-staging.mercury.basicattentiontoken.org"
      - "REDIS_URL=redis://redis:6379"
      - TOKEN_LIST
      - UPHOLD_ACCESS_TOKEN
    depends_on:
      - redis
      - postgres
      - challenge-bypass
    networks:
      - grant
  redis:
    container_name: grant-redis
    image: redis:latest
    networks:
      - grant
  postgres:
    container_name: grant-postgres
    image: postgres:10.4
    environment:
      - "POSTGRES_USER=grants"
      - "POSTGRES_PASSWORD=password"
    networks:
      - grant
  challenge-bypass-postgres:
    container_name: challenge-bypass-postgres
    image: postgres:10.4
    environment:
      - "POSTGRES_USER=btokens"
      - "POSTGRES_PASSWORD=password"
    networks:
      - grant
  challenge-bypass:
    container_name: challenge-bypass
    image: brave/challenge-bypass
    restart: always
    ports:
      - "2416:2416"
    environment:
      - "SENTRY_DSN"
      - "DATABASE_URL=postgres://btokens:password@challenge-bypass-postgres/btokens?sslmode=disable"
      - "DATABASE_MIGRATIONS_URL=file:///src/migrations"
    depends_on:
      - challenge-bypass-postgres
    networks:
      - grant
  zookeeper:
    container_name: grant-zookeeper
    #image: wurstmeister/zookeeper
    image: confluentinc/cp-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"
    networks:
      - grant
  kafka:
    container_name: grant-kafka
    #image: wurstmeister/kafka:2.12-2.2.1
    image: confluentinc/cp-kafka
    ports:
      - "9092:9092"
    environment:
      #KAFKA_ADVERTISED_HOST_NAME: 127.0.0.1
      #KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    #volumes:
    #  - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - zookeeper
    networks:
      - grant
