on:
  push:
    branches:
      - master
      - dev
      - prod

name: Generalized Deployments
jobs:
  push:
    name: Invoke General Docker Build Pipeline
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4.0.2
      with:
        role-to-assume: ${{ secrets.GDBP_AWS_IAM_ROLE_ARN }}
        aws-region: us-west-2
    - name: Override GITHUB_REF and thus ECR destination for master
      run: echo "GITHUB_REF_OVERRIDE=refs/heads/dev" >> $GITHUB_ENV
      if: ${{ github.ref == 'refs/heads/master' }}
    - name: Generalized Deployments
      uses: brave-intl/general-docker-build-pipeline-action@7eb4e5063b3051fb0eb49da64c5c623ef7813ef2 # v1.0.17
