name: golangci-lint
on:
  push:
    tags:
      - v*
    branches:
      - master
      - prod
      - dev
  pull_request:
    branches:
      - master
      - prod
permissions:
  contents: read

jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        work-dir: [libs, services, tools, cmd, main]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: '1.25'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          working-directory: ${{ matrix.work-dir }}
          version: v2.6.2
          args: --timeout 3m

  # GHA doesn't implement aggregated matrix status checks natively: https://github.com/orgs/community/discussions/26822
  lint:
    name: lint
    runs-on: ubuntu-slim
    needs: [golangci]
    steps:
      - run: exit 0
